<div class="contact text-center bg-light p-4 rounded shadow-sm mb-5">
  <h2 class="text-primary mb-4 c" ><i class="c">Leave Us A Message!</i></h2>
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm" >
    <div class="mb-3">
      <label for="name">Your Name</label>
      <input type="text" [(ngModel)]="emailData.name" name="name"  class="form-control"id="name" required>
    </div>
  
    <div class="mb-3">
      <label for="email">Email address</label>
      <input type="email" [(ngModel)]="emailData.email" class="form-control" name="email"   id="email" required email>
    </div>
  
    <div class="mb-3">
      <label for="message">Message</label>
      <textarea class="form-control line"  [(ngModel)]="emailData.message"  name="message"  id="message" required ></textarea>
    </div>
  
    <button  type="submit" class="btn btn-primary w-30" [disabled]="emailForm.invalid">Submit</button>
  </form>

</div>
<div class="contact text-center bg-light p-4 rounded shadow-sm mb-5">
  
  <div class="contact-info">
      <p>

          <a href="mailto:smartmartmindtree@gmail.com" class="text-dark">
              <i class="fa fa-envelope" aria-hidden="true"></i><strong>Email:</strong> smartmartmindtree&#64;gmail.com
          </a>
      </p>
      <p>

          <a href="phone:9894072153" class="text-dark">

              <i class="fa fa-phone" aria-hidden="true"></i><strong>Phone:</strong>9894072153
          </a>
      </p>
      <p>

          <i class="fa fa-map-marker" aria-hidden="true"></i><strong>Address:</strong> 123 Main St, City,
          Country
      </p>
  </div>
</div>

