.container-fluid{
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    height: 3.5em;
   
}
*{
  margin: 0px;
  padding: 0px;
}

.links{
    display: flex;
    
}

.container-fluid {
    background: linear-gradient(to right, blue, green);
     padding: 20px;
     color: white;
     
}

/* Center the form on the screen */
.loggingForm {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    
  }
  
  .form-container {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 8px; 
    padding: 15px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
    width: 25vw; 
    max-width: 380px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
  
h2 {
  color: #0a0908; /* Gold header */
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 1px;
  
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.15); /* Soft transparency */
    backdrop-filter: blur(8px); /* Blurring effect */
    color: black;
    opacity: 0.6;
}

.form-control::placeholder {
  color: red;
}
  
  .btn-primary {
    width: 30%;
    height: 9vh;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #ffba49, #0a0908); /* Warm gradient */
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.btn-primary:hover {
    background: linear-gradient(to right, #d68e34, #040302);
}

/* Disabled Button */
.btn.btn-primary:disabled {
    background-color: #cccccc;
}

  
  .text-danger {
    color: red;
    font-size: 0.875em;
   
  }
  