.container-fluid{
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    height: 3.5em;
   
}
*{
  margin: 0px;
  padding: 0px;
}

.links{
    display: flex;
    
}

.container-fluid {
    background: linear-gradient(to right, blue, green);
     padding: 20px;
     color: white;
     
}

/* Center the form on the screen */
.loggingForm {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    
  }
  
  .form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Maximum width for the form */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-primary {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
  }
  
  .btn.btn-primary:disabled {
    background-color: #cccccc;
}

  
  .text-danger {
    color: red;
    font-size: 0.875em;
   
  }
  