h2 {
    color: #21295C; /* Harmonizing with the warm palette */
    font-weight: bold;
  }
  
  button.btn-success {
    background-color: #FFBA49 !important;
    border: none;
    color: white;
    font-weight: bold;
    max-width: 150px; /* Adjust width */
    height: 9vh;
    display: block; /* Ensures it behaves like a block element */
    margin: 0 auto; /* Centers the button */
    text-align: center;
  }
  
  button:hover {
    background-color: #C77946; /* Slightly darker for smooth interaction */
  }
  
  button.btn-primary{
    background-color: #0081a7 !important;
    border: none;
    color: white;
    font-weight: bold;
    max-width: 150px; /* Adjust width */
    height: 9vh;
    display: block; /* Ensures it behaves like a block element */
    margin: 0 auto; /* Centers the button */
    text-align: center;
  }