.container-fluid{
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    height: 3.5em;
    margin: 0;
    padding: 0;
   
}
*{
  margin: 0px;
  padding: 0px;
}

.links{
    display: flex;
    
}

.container-fluid {
    background: linear-gradient(to right, #ffba49, #0a0908);
     padding: 20px;
     color: white;
     
}