
<div class="footer" style="margin-bottom: 0;">
    <h6 style="font-weight: lighter;">2025 Smart Mart Inc. All rights reserved</h6>
         <div class="social-icons">
        <a href="https://github.com/iamneo-production/d78a9247-5144-494f-bced-e258cf9c438f-ab781bcc-fe1a-4bf9-a675-df7bfd0e3c17" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        <a href="https:/linkedin.com/in/yourusername" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
     </div>
</div>