<div class="user-view-orders">
  <h1>User View Orders</h1>

  

  <!-- Display orders for the user -->
  <div class="orders-list">
    <h2>Your Orders</h2>
    <div class="order-card" *ngFor="let order of orders">
      <div class="card">
        <div class="card-header">
          <h3>Order ID: {{ order.orderId }}</h3>
        </div>
        <div class="card-body">
          <p><strong>Shipping Address:</strong> {{ order.shippingAddress }}</p>
          <p><strong>Total Amount:</strong> {{ order.totalAmount }}</p>
          <p><strong>Quantity:</strong> {{ order.quantity }}</p>
          <p><strong>Status:</strong> {{ order.status }}</p>
        </div>

        <button type="submit">Create Order</button>   // Calling the create order method of ts  
        
      </div>
    </div>
  </div>
</div>
