/* Product List Container */
.product-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 20px;
     font-family: Arial, sans-serif;
     color:black;
 }
 
 /* Dropdown for Category Filter */
 #categoryFilter {
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #ddd;
     border-radius: 5px;
     width: 200px;
     font-size: 16px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 /* Product Cards Container */
 .product {
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1px solid #ccc;
     border-radius: 8px;
     padding: 20px;
     margin: 16px;
     width: 300px;
     height: auto;
     box-sizing: border-box;
     background-color: #f9f9f9;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s, box-shadow 0.3s;
 }
 
 /* Hover Effect */
 .product:hover {
     transform: scale(1.05);
     box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
 }
 
 /* Product Image Styling */
 .product-image {
     width: 100%;
     height: auto;
     border-radius: 5px;
     margin-bottom: 15px;
 }
 
 /* Headings and Text Styling */
 .product h2 {
     font-size: 20px;
     color: #333;
     margin: 10px 0;
 }
 
 .product p {
     font-size: 16px;
     color: #555;
     margin: 5px 0;
 }
 
 /* Button Styling */
 button {
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     background-color: #007bff;
     color: white;
     cursor: pointer;
     margin: 5px 0;
     transition: background-color 0.3s ease;
 }
 
 button:hover {
     background-color: #0056b3;
 }
 
 /* Quantity Buttons */
 button + button {
     margin-left: 10px;
 }
 
 /* Quantity Information Styling */
 .product div p {
     font-weight: bold;
     color: #333;
     margin-top: 10px;
 }

 .wishlist-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wishlist-btn .liked {
    color: red;
  }
 