<div class="product-list">
  <div *ngFor="let product of products" class="product">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><b>Category:</b> {{ product.category }}</p>
    <p><b>Price:</b> ${{ product.price }}</p>
    <p><b>Stock:</b> {{ product.stock }}</p>
    <button (click)="addToCart(product)">Add to Cart</button>
    <div *ngIf="isInCart(product)">
      <button (click)="increaseQuantity(product)">+</button>
      <button (click)="decreaseQuantity(product)">-</button>
      <p><b>Quantity:</b> {{ getQuantity(product) }}</p>
    </div>
  </div>
</div>
