<div class="container">
  <h2>Add Feedback</h2>
  <form [formGroup]="feedbackForm" (ngSubmit)="addFeedback()">
    <div class="form-group">
      <label for="userName">User Name</label> <br>
      <input id="userName" formControlName="userName" class="form-control" /> <br>
    </div>
    <div class="form-group">
      <label for="feedback">Feedback</label> <br>
      <textarea id="feedback" formControlName="feedback" class="form-control"></textarea> <br>
    </div>
    <div class="form-group">
      <label for="ratings">Rating</label> <br>
      <div class="star-rating">
        <ng-container *ngFor="let star of [5, 4, 3, 2, 1]">
          <input type="radio" id="star{{star}}" formControlName="ratings" [value]="star" />
          <label for="star{{star}}" title="{{star}} stars">
            <i class="fa" [ngClass]="{'fa-star': feedbackForm.get('ratings').value >= star, 'fa-star-o': feedbackForm.get('ratings').value < star}"></i>
          </label>
        </ng-container>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="feedbackForm.invalid">Submit</button>
  </form>
</div>