<div class="container">
  <h2>Add Feedback</h2><br>
  <form (ngSubmit)="submitFeedback(feedbackForm)" #feedbackForm="ngForm">
    <div class="form-group">

      <label for="feedback">Feedback:<span class="text-danger">*</span></label><br>
      <textarea
        id="feedback"
        name="message"
        [(ngModel)]="feedbackText"
        required
        minlength="5"
        class="form-control"
        #feedbackTextRef="ngModel"
      ></textarea><br>
    </div>

    <div *ngIf="feedbackTextRef.invalid && feedbackTextRef.touched" class="error-messages">
      <p *ngIf="feedbackTextRef.errors?.required">Feedback is required.</p>
      <p *ngIf="feedbackTextRef.errors?.minlength">Feedback must be at least 5 characters long.</p>
    </div>

<div class="form-group">
  <label for="ratings">Rating:<span class="text-danger">*</span></label><br>
  <div class="star-rating">
    <ng-container *ngFor="let star of [5, 4, 3, 2, 1]">
      <div class="star-item">
        <input
          type="radio"
          id="star{{star}}"
          name="rating"
          [(ngModel)]="rating"
          [value]="star"
          required
        />
        <label for="star{{star}}" title="{{star}} stars">
          <i class="fa" [ngClass]="{'fa-star': rating >= star, 'fa-star-o': rating < star}"></i>
        </label>
      </div>
    </ng-container>
  </div>
</div>
   <button type="submit" class="btn btn-primary" [disabled]="feedbackForm.invalid">Submit</button>
  </form>

  <div *ngIf="popupMessage" class="popup-overlay">
    <div class="popup">
      <p>{{popupMessage}}</p>
      <button (click)="closePopup()">Ok</button>
    </div>
  </div>
  
</div>




