body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }

  .required {
    color: red;
  }
  
  input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error small {
    color: red; /* Error messages in red color */
    font-size: 12px;
  }
  
  .popup {
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .popup button {
    background-color: white;
    color: #28a745;
    border: 1px solid #28a745;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .popup button:hover {
    background-color: #28a745;
    color: white;
  }
  .star-rating {
    direction: rtl;
    display: inline-block;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    color: gold;
    font-size: 2em;
    padding: 0 0.1em;
    cursor: pointer;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input[type="radio"]:checked ~ label {
    color: gold;
  }