<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMart</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h1>SmartMart</h1>
            <div class="user-section">
                <nav>
                    <ul>
                        <li class="nav-link" style="cursor: pointer;color:white">{{userName}}/ User</li>
                        <li class="nav-link"><a style="text-decoration: none" routerLink="/userNavBar/home">Home</a></li>
                        <li class="nav-link"><a style="text-decoration: none" routerLink="/userNavBar/userviewproduct">View Products</a></li>
                        <li class="nav-link"><img src="assets/mybag.jpg" alt="Shopping Bag" class="bag-image" routerLink="/userNavBar/cart"></li>
                        <li class="nav-link"><a style="text-decoration: none" routerLink="/userNavBar/uservieworders">My Orders</a></li>
                        <li class="dropdown nav-link">
                            <a class="nav-link dropdown-toggle" style="cursor: pointer;text-decoration:none;">Feedbacks</a>
                            <ul class="dropdown-menu" style="color: black;">
                                <li class="nav-link" ><a style="text-decoration:none" routerLink="/userNavBar/useraddfeedback" style="color: black;">Add Feedback</a></li>
                                <li class="nav-link" ><a style="text-decoration:none" routerLink="/userNavBar/userviewfeedback" style="color: black;">View Feedback</a></li>
                            </ul>
                        </li>
                        <li class="nav-link"><a style="text-decoration: none" class="logout" routerLink="/logout" (click)="logout()">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</body>
</html>
