<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMart</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h1>SmartMart</h1>
            <div class="user-section">
                <nav>
                    <ul>
                        <li>{{userName}}/ User</li>
                        <li><a routerLink="/userNavbar/home">Home</a></li>
                        <li><a routerLink="/userNavbar/userviewproduct">View Products</a></li>
                        <li><img src="assets/mybag.jpg" alt="Shopping Bag" class="bag-image"></li>
                        <li><a routerLink="/userNavbar/uservieworders">My Orders</a></li>
                        <li><a routerLink="/userNavbar/userviewfeedback">Feedbacks</a></li>
                        <li><a class="logout" routerLink="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</body>
</html>