<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMart</title>
   
</head>
<body>
    <header>
        <div class="navbar">
            <h1>SmartMart</h1>
            <div class="user-section">
                <nav>
                    <ul>
                        <li>User / User</li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">View Products</a></li>
                        <li><img src="assets/mybag.jpg" alt="Shopping Bag" class="bag-image"></li>
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">Feedbacks</a></li>
                        
                        <li><a class="logout" href="#">Logout</a></li>
                    </ul>
                </nav>
                
            </div>
        </div>
    </header>
    <main>
        <h2>SMART MART</h2>
        <div class="content">
            <p>
                Smart Mart is your ultimate destination for a seamless and smarter shopping experience. Designed with convenience and innovation at its core, Smart Mart combines advanced technology and thoughtful design to cater to all your shopping needs.
                From daily essentials to specialty products, Smart Mart ensures a wide variety of choices, personalized recommendations, and exclusive deals to make your shopping not just easy but enjoyable.
                Our intuitive interface, real-time inventory updates, and hassle-free checkout processes save you time and effort, so you can focus on what matters most.
            </p>
        </div>
    </main>
    <footer>
       
    </footer>
</body>
</html>