<div class="admin-view-orders">
  <div class="orders-list">
    <h2>All Orders</h2>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Shipping Address</th>
          <th>Total Amount</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ord of orders">
          <td>{{ ord.orderId }}</td>  
          <td>{{ userName}}</td>
          <td>
            <ul style="list-style: none;">
              <li *ngFor="let product of ord.product">
                {{ product.name }}
              </li>
            </ul>
          </td>
          <td>
            <ul style="list-style: none;">
              <li *ngFor="let product of ord.product">
                {{ product.price }}
              </li>
            </ul>
          </td>
          <td>{{ ord.shippingAddress }}</td>
          <td>{{ ord.totalAmount }}</td>
          <td>{{ ord.quantity }}</td>
          <td [ngClass]="{
            'status-pending': ord.status == 'PENDING',
            'status-completed': ord.status == 'COMPLETED',
            'status-cancelled': ord.status == 'CANCELLED',
            'status-shipped': ord.status == 'SHIPPED'
          }">
        {{ ord.status }}
      </td>
          <td>
            <button (click)="deleteOrder(ord.orderId)">Delete Order</button>

            <select [(ngModel)]="ord.status" (change)="updateOrderStatus(ord.orderId, ord.status)">
              <option value="PENDING">Pending</option>
              <option value="COMPLETED">Completed</option>
              <option value="CANCELLED">Cancelled</option>
              <option value="SHIPPED">Shipped</option>
          </select> 
          
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>



