<div class="container">
  <h2>Your Wishlist</h2>

  <!-- Display Wishlist Items -->
  <div *ngIf="!isWishlistEmpty(); else emptyWishlist">
      <div class="product-container">
          <div *ngFor="let product of wishlist" class="product-card">
              <img [src]="product.productImage" alt="{{ product.name }}" class="product-image">
              <h2>{{ product.name }}</h2>
              <p>{{ product.description }}</p>
              <p><b>Category:</b> {{ product.category }}</p>
              <p><b>Price:</b> ₹{{ product.price }}</p>
              <p><b>Stock:</b> {{ product.stock }}</p>

              <div class="button-group">
                  <button (click)="addToCart(product)" class="btn btn-success">Add to Cart</button>
                  <button (click)="removeFromWishlist(product.id)" class="btn btn-danger">Remove</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Empty Wishlist Message -->
  <ng-template #emptyWishlist>
      <p>Your wishlist is empty.</p>
  </ng-template>
</div>
