<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMart</title>
   
</head>
<body>
    <header>
        <div class="navbar">
            <h1>SmartMart</h1>
            <div class="admin-section">
                <nav>
                    <ul>
                        <li style="cursor: pointer;">{{username}} / ADMIN</li>
                        <li routerLink="/adminNavBar/home" style="cursor: pointer;"><a>Home</a></li>
                        
                        <li class="dropdown">
                            
                            <a style="cursor: pointer;">Products</a>
                            
                            <ul class="dropdown-menu">
                                
                                <li style="cursor: pointer;"><a routerLink="/adminNavBar/addProduct">Add Product</a></li>
                                <li><a routerLink="/adminNavBar/adminViewProduct" style="cursor: pointer;">View Product</a></li>
                            </ul>
                        </li>
                        
                        <li routerLink="/adminNavBar/adminViewOrders" style="cursor: pointer;"><a >Requested Orders</a></li>
                        <li style="cursor: pointer;" routerLink="/adminNavBar/adminFeedback"><a >Feedbacks</a></li>
                        <li style="cursor: pointer;" routerLink="/adminNavBar/adminViewUserDetails"><a >Users</a></li>
                        <li><a class="logout" style="cursor: pointer;" (click)="logout()">Logout</a></li>
                    </ul>
                </nav>
                
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    
</body>
</html>