<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartMart</title>
   
</head>
<body>
    <header>
        <div class="navbar">
            <h1>SmartMart</h1>
            <div class="admin-section">
                <nav>
                    <ul>
                        <li class="nav-item"  style="cursor: pointer;color:white">{{username}} / ADMIN</li>
                        <li  class="nav-item" routerLink="/adminNavbar/home" style="cursor: pointer;"><a>Home</a></li>
                        
                        <li class="dropdown nav-item dropdown">
                            
                            <a  class="nav-link dropdown-toggle" style="cursor: pointer;">Products</a>
                            
                            <ul class="dropdown-menu aria-labelledby=navbarDropdownMenuLink">
                                
                                <li style="cursor: pointer;"><a routerLink="/adminNavbar/addProduct">Add Product</a></li>
                                <li><a routerLink="/adminNavbar/adminViewProduct" style="cursor: pointer;">View Product</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item" routerLink="/adminNavbar/adminViewOrders" style="cursor: pointer;"><a class="nav-link">Requested Orders</a></li>
                        <li class="nav-item" style="cursor: pointer;" routerLink="/adminNavbar/adminFeedback"><a class="nav-link" >Feedbacks</a></li>
                        <li class="nav-item" style="cursor: pointer;" routerLink="/adminNavbar/adminViewUserDetails"><a class="nav-link" >Users</a></li>
                        <li class="nav-item" ><a class="logout nav-link" style="cursor: pointer;" (click)="logout()">Logout</a></li>
                    </ul>
                </nav>
                
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    
</body>
</html>