<div class="container">
    <h1>SMART MART</h1>
    <div class="links" style="cursor: pointer;">
        <h5 style="margin-right: 2em;" routerLink="/register">Register</h5>
        <h5 routerLink="/login" routerLink="/login">Login</h5>
    </div>
</div>

<div class="registrationForm">
    <div class="form-container" style="width: 80%; padding: 10px; margin: 0 auto;">
      <h2>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username <span class="text-danger">*</span></label>
          <input id="username" formControlName="username" class="form-control" />
          <div *ngIf="registerForm.get('username').touched && registerForm.get('username').invalid" class="text-danger">
            Username is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email <span class="text-danger">*</span></label>
          <input id="email" formControlName="email" class="form-control" />
          <div *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid" class="text-danger">
            Valid email is required
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password <span class="text-danger">*</span></label>
          <input id="password" type="password" formControlName="password" class="form-control" />
          <div *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid" class="text-danger">
            Password is required (min 6 characters)
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
          <div *ngIf="registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid" class="text-danger">
            Confirm Password is required
          </div>
          <div *ngIf="registerForm.errors?.mismatch && registerForm.get('confirmPassword').touched" class="text-danger">
            Passwords must match
          </div>
        </div>
        <div class="form-group">
          <label for="mobileNumber">Mobile Number <span class="text-danger">*</span></label>
          <input id="mobileNumber" formControlName="mobileNumber" class="form-control" />
          <div *ngIf="registerForm.get('mobileNumber').touched && registerForm.get('mobileNumber').invalid" class="text-danger">
            Valid mobile number is required
          </div>
        </div>
        <div class="form-group">
          <label for="role">Role <span class="text-danger">*</span></label>
          <br>
          <select id="role" formControlName="role" class="form-control">
            <option value="">Select Role</option>
            <option value="ADMIN">User</option>
            <option value="USER">Admin</option>
          </select>
          <div *ngIf="registerForm.get('role').touched && registerForm.get('role').invalid" class="text-danger">
            Role is required
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
      </form>
    </div>
  </div>
  